@import "../../sass/variable.scss";

.dashboardPage {
    margin: 0 auto;
    margin-top: 25px;

    .noUser {
        width: 280px;
        text-align: center;
        margin: 0 auto;
        margin-top: 50px;

        .loginBtn {
            margin-top: 25px;
            color:white;
            background-color: forestgreen;
        }
    
        .loginLink {
            color: forestgreen;
        }
    
        .loginLink:hover {
            text-decoration: none;
        }

        #loadingIcon {
            height: 200px;
            width: 200px;
            margin: 0 auto;
            // margin-top: 25px;
        }
    }

    .dashboardBox {
        #userTitle {
            text-align: center
        }
    }

    .vehicletext, .parkedVehicle {
        color: #073127;
      
    }

    // #userTitle{
    //     border-color: rgb(38,110,93);
    //     border-style: solid;
    // }
   
}

table {
    counter-reset: tableCount;     
}
.counterCell:before {              
    content: counter(tableCount); 
    counter-increment: tableCount; 
}

.spaceClass {
    outline: none;
    border: none;
    background: none;
    resize: none;
    min-height: 100px;
}

// #myTable {
//     // border-collapse: collapse; /* Collapse borders */
//     // width: 100%; /* Full-width */
//     // border: 1px solid #ddd; /* Add a grey border */
//     // font-size: 18px; /* Increase font-size */
//   }
  
//   #myTable th, #myTable td {
//     text-align: left; /* Left-align text */
//     padding: 12px; /* Add padding */
//   }
  
//   #myTable tr {
//     /* Add a bottom border to all table rows */
//     border-bottom: 1px solid #ddd; 
//   }
  
//   #myTable tr.header, #myTable tr:hover {
//     /* Add a grey background color to the table header and on hover */
//     background-color:rgb(14,236,180)
//     ;
//   }
 
//   th {
//     background-color: rgb(6, 85, 141);
//     color: white;
// } 
 
// table,
// thead,
// tr,
// tbody,
// th,
// td {
//   text-align: center;
// }
 
// .table td {
//   text-align: center;
// }
 
// .loginBtn
// {
//     background: rgb(4, 132, 172) !important;  
// }
