.signupLink {


    color: forestgreen !important;
}

.greenbtn {
    background: forestgreen !important;
}

#signupBtn
{
    background: rgb(4, 132, 172) !important;  
}

/* #parking3, #ezlogo
{
    display: none;
} */