@import "../../sass/variable.scss";

.Notify {
    text-align: center;
  }
  
  
  .Notify-header {
    margin-top: 2%;
    background-color: rgb(235,247,247);
    min-height: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: black;
    .fas{
      color: rgb(15,191,44)
    }
  }
  
  .Notify-link {
    color: #61dafb;
  }
  
  
  @keyframes Notify-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  