.signupLink {


    color: forestgreen !important;
}

.greenbtn {
    background: forestgreen !important;

}

#loginBtn
{
    background: rgb(4, 132, 172) !important;  
}
/* #parking3, #ezlogo
{
    display: none;
} */